@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*{
    margin: 0px;
    box-sizing: border-box;
}

.section{
    background-color: gray;
    color: rgb(233, 133, 12);
    padding: 40px;
    margin-bottom: 3rem;
}
body{
    background-color: rgb(131, 120, 120);
}

.searchbar {
    width: 52vw;
    height: 52px;
    border: none;
    margin-right: 20px;
    padding: 25px;
    border-radius: 20px;
    background: linear-gradient(145deg, #fff9f9, #f0f0f0);
   
}
.fa-lg { 
    font-size: 1.2 rem;
    vertical-align: -15%;
    line-height: .75em;
}
#footer {
        position: fixed;
        padding: 20px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/ 
        height: 40px;
        background: gray;
}
#btn1 {
    background-color: rgb(233, 133, 12);
    border-radius: 20px;
    height: 52px;
    border: none;
    width:10vw;
    
}