@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.section{
    background-color: rgb(22, 20, 20);
    color:  rgb(233, 133, 12);
    padding: 30px;
    margin-bottom: 3rem;
    font-size: xx-large;
}

body{
    background-color: rgb(167, 157, 157);
}

#search {
    width: 52vw;
    height: 52px;
    border: none;
    margin-right: 20px;
    padding: 25px;
    border-radius: 20px;
    background: linear-gradient(145deg, #fff9f9, #f0f0f0); 
  
   
}
#footer {
        position: fixed;
        padding: 20px;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: gray;
        text-align: center;
}
#btn1 {
    background-color: rgb(233, 133, 12);
    border-radius: 20px;
    height: 52px;
    border: none;
    width:10vw;
    cursor: pointer;
    
}
.images{
    width: 350px;
    border-radius: 20px;
    max-height: 500px;
    margin-bottom: 20px;
}

#drink{
width: 90vw;
margin: 0 auto;
max-width: 1170px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
grid-column-gap: 3rem;

}
#drinks{
    justify-content: space-between;
}
