@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.section{
    background-color: rgb(22, 20, 20);
    color:  rgb(233, 133, 12);
    padding: 30px;
    margin-bottom: 3rem;
    font-size: xx-large;
}

body{
    background-color: rgb(167, 157, 157);
}

#search {
    width: 52vw;
    height: 52px;
    border: none;
    margin-right: 20px;
    padding: 25px;
    border-radius: 20px;
    background: linear-gradient(145deg, #fff9f9, #f0f0f0); 
  
   
}
#footer {
        position: fixed;
        padding: 20px;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: gray;
        text-align: center;
}
#btn1 {
    border-radius: 20px;
    height: 52px;
    border: none;
    width:10vw;
    background-color: rgb(243, 196, 108);
}

#btn1:hover{
    box-shadow: inset 300px 0 0 0 rgb(233, 133, 12);
    cursor: pointer;
    color: whitesmoke;
   
}
.images{
    width: 350px;
    border-radius: 20px;
    max-height: 500px;
    margin-bottom: 20px;
}
#drink{
width: 90vw;
margin: 0 auto;
max-width: 1170px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
grid-column-gap: 3rem;

}
#drinks{
    justify-content: space-between;
}

.bag-btn {
    /* position: absolute; */
    top: 10%;
    right: 0;
    background: var(--primaryColor);
    color: rgb(243, 196, 108);
    border: none;
    /* text-transform: uppercase; */
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    /* font-weight: bold; */
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover{
    box-shadow: inset 300px 0 0 0 rgb(233, 12, 12);
    border-radius: 50px;
    background: var(--primaryColor);
    transition: var(--mainTransition);
    transform: translateX(101%);
}